/******************************************************************************/
/*
/*   Sections:
/*
/*   1. Shared properties across all pages (lines 44-209).
/*   2. Home page (lines 217-357).
/*   3. About page (lines 363-387).
/*   4. Menu page (lines 393-436).
/*   5. Contact page (lines 442-555).
/*
/******************************************************************************/

:root {
    --main-font-color: #7a4b54;
    --main-font-color-light: #d07f8e;
    --pink: #fdc8c8;
    --light-orange: #faefe3;
    --orange: #fcd09d;
    --grey: #8c8184;
    --dark-grey: #685e60;
    --green: #8ebe6e;
    --dark-green: #759d5a;

    --box-shadow-thin: 2px 2px 5px #7a4b5454, -2px 2px 5px #7a4b5454;
}

body {
    color: var(--main-font-color);
}

a {
    color: var(--main-font-color);
    text-decoration: none;
}

button:hover {
    cursor: pointer;
}

/******************************************************************************/
/* Selectors applicable to all pages start start here.
/******************************************************************************/

#home-page,
#about-page,
#menu-page,
#contact-page {
    width: 100%;
    height: 100%;

    overflow-y: auto;
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
}

/* Selectors for the header start here. */

header {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

img[src*="svg"] {
    width: 1rem;
}

/* Selectors for the address section start here. */

address {
    font-size: 0.8rem;

    padding: 8px;
    
    background-color: var(--orange);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

/* Selectors for the main navbar start here. */

.nav-main {
    background-color: white;
    box-shadow: var(--box-shadow-thin);

    position: relative;
    z-index: 1;

    grid-column: 1 / 2;
    grid-row: 2 / 3;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.nav-main ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    gap: 32px;
}

.nav-main li {
    list-style: none;

    padding: 16px 32px;
}

.nav-main a {
    transition: all 0.2s;
}

.nav-main a:hover {
    color: var(--main-font-color-light);

    transition: all 0.2s;
}

.nav-main .home,
.nav-main .about,
.nav-main .menu,
.nav-main .contact {
    padding: 24px 32px 16px 32px;
}

.nav-main .underline {
    width: 100%;
    height: 5px;

    background-color: white;
    border-radius: 8px;
}

.nav-main .home .underline {
    background-color: var(--orange);
}

.nav-main .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-main img[src*="png"] {
    width: 56px;
}

/* Selectors for the main section start here. */

main {
    grid-column: 1 / 2;
    grid-row: 3 / 4;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
}

main .socials {
    list-style: none;

    margin: 16px 32px 32px 32px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

main .socials img {
    width: 1.5rem;
}

main .socials img[src*="yelp"] {
    width: 1.3rem;
}

/* Selectors for the footer start here. */

footer {
    padding: 16px;

    background-color: var(--orange);
    
    grid-column: 1 / 1;
    grid-row: 4 / 5;
}

footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

footer img {
    width: 1rem;
}

/******************************************************************************/
/* Selectors for the home page start start here.
/******************************************************************************/

/* Selectors for the overlay start here. */

#home-page .overlay {
    width: 100%;
    height: 100%;

    background-color: rgb(179, 171, 167);
    opacity: 0.5;

    position: absolute;
    z-index: 1;
}

/* Selectors for the slideshow start here. */

#home-page .slideshow {
    width: 100%;
    height: 100%;

    margin: auto;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}

#home-page .slideshow img {
    width: 100%;
    height: 100%;

    object-fit: cover;

    position: absolute;
}

/* Selectors for the main content start here. */

#home-page .content {
    color: white;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
    flex: 5;

    position: absolute;
    z-index: 2;
}

#home-page .content::before {
    content: "[";

    font-size: 18rem;
    font-weight: 200;

    position: absolute;
    left: -75px;
}

#home-page .content::after {
    content: "]";

    font-size: 18rem;
    font-weight: 200;

    position: absolute;
    right: -75px;
}

#home-page .content h1 {
    font-size: 1.5rem;
}

#home-page .content blockquote {
    font-size: 2.5rem;
    font-weight: 700;
}

#home-page .content blockquote p:last-child {
    font-size: 1.5rem;
    font-weight: 200;
}

#home-page .content button {
    color: white;

    padding: 4px 12px;

    background-color: var(--green);
    border: none;
    border-radius: 16px;
    box-shadow: var(--box-shadow-thin);

    transition: all 0.4s;
}

#home-page .content button:hover {
    background-color: var(--dark-green);
}

/* Selectors for the slideshow navigation start here. */

#home-page .nav-slideshow {
    margin-bottom: 24px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1;

    position: absolute;
    bottom: 0;
    z-index: 1;
}

#home-page .nav-slideshow span {
    width: 1rem;
    height: 1rem;

    background-color: var(--grey);
    border-radius: 50%;

    transition: all 0.2s;

    display: inline-block;
}

#home-page .nav-slideshow span:hover {
    background-color: var(--dark-grey);
    
    cursor: pointer;
}

#home-page .nav-slideshow span:first-child {
    background-color: var(--dark-grey);
}

/******************************************************************************/
/* Selectors for the about page start here.
/******************************************************************************/

#about-page .content {
    width: clamp(300px, 35%, 50ch);
    height: 100%;

    text-align: center;

    margin: 40px 32px 16px 32px;
    padding: 32px;

    background-color: var(--light-orange);
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

#about-page .content-divider {
    width: 15%;
    height: 1px;

    background-color: var(--main-font-color);
}

/******************************************************************************/
/* Selectors for the menu page start here.
/******************************************************************************/

#menu-page main .menu {
    width: max(300px, 45%);
    text-align: center;

    margin: 58px 32px 24px 32px;
    padding: 32px;

    background-color: var(--light-orange);
    border: 2px solid var(--main-font-color);
    outline: 16px solid var(--light-orange);
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

#menu-page .content-divider {
    width: 30%;
    height: 1px;

    background-color: var(--main-font-color);
}

#menu-page .breakfast,
#menu-page .lunch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

#menu-page .menu-items {
    width: clamp(150px, 75%, 50ch);
            
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    flex-wrap: wrap;
}

/******************************************************************************/
/* Selectors for the contact page start here.
/******************************************************************************/

#contact-page .content {
    width: 300px;

    margin: 40px 32px 24px 32px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

#contact-page .description {
    text-align: center;
}

#contact-page .content-divider {
    width: 15%;
    height: 1px;

    background-color: var(--main-font-color);
}

/* Selectors for the form start here. */

#contact-page form {
    width: 300px;

    margin-top: 8px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

#contact-page form *:not(button) {
    width: 100%;
}

#contact-page form .field {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

#contact-page form img[src*="asterisk"] {
    width: 0.6rem;
    
    margin-bottom: 4px;
}

#contact-page form label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#contact-page input,
#contact-page textarea {
    color: #4f3035;
    
    padding: 4px 0 4px 8px;

    background-color: #f5f1ed;
    border: none;
    border-radius: 8px;
}

#contact-page form textarea {
    resize: none;
}

#contact-page input:focus,
#contact-page textarea:focus {
    outline: 2px solid var(--main-font-color);
}

#contact-page input:focus:required:valid,
#contact-page textarea:focus:required:valid {
    outline: 2px solid var(--dark-green);
}

#contact-page input:focus:required:invalid,
#contact-page textarea:focus:required:invalid {
    outline: 2px solid #d07f8e;
}

/* Selectors for the submit button start here. */

#contact-page form button {
    color: white;

    padding: 4px 24px;
    margin-top: 16px;

    background-color: var(--main-font-color);
    border: none;
    border-radius: 16px;

    transition: all 0.4s;
}

#contact-page form button:not(:disabled):hover {
    background-color: #a0626d;

    transition: all 0.4s;
}

#contact-page form button:disabled {
    cursor:not-allowed;
    opacity: 0.5;
}